backend/.env
frontend/.env
frontend/node_modules
backend/node_modules
frontend/package-lock.json
backend/package-lock.json
frontend/node_modules/lz-string/bower.json
frontend/node_modules/lz-string/LICENSE.txt